@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-display: "swap";
    font-family: "League Spartan";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/spartan/LeagueSpartan-Regular.ttf")
      format("truetype");
  }
  @font-face {
    font-display: "swap";
    font-family: "League Spartan";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/spartan/LeagueSpartan-Bold.ttf")
      format("truetype");
  }

  body {
    font-family: "League Spartan", "serif";
    min-height: 100vh;
    line-height: 14.72px;
  }

  input::-webkit-input-placeholder {
    line-height: normal !important;
  }
}

@layer utilities {
  .login-bg {
    background: url(/src/assets/images/login-low.webp) no-repeat center center
      fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .login-bg.bg-loaded {
    background: url("/src/assets/images/login-bg.webp") no-repeat center center
      fixed;
    background-size: cover;
  }
}
