@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-box-shadow: 0 0 0 30px transparent inset !important;
    font: inherit;
  }
  @font-face {
    font-display: "swap";
    font-family: "League Spartan";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/spartan/LeagueSpartan-Regular.ttf") format("truetype");
  }
  @font-face {
    font-display: "swap";
    font-family: "League Spartan";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/spartan/LeagueSpartan-Medium.ttf") format("truetype");
  }
  @font-face {
    font-display: "swap";
    font-family: "League Spartan";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/spartan/LeagueSpartan-Light.ttf") format("truetype");
  }
  @font-face {
    font-display: "swap";
    font-family: "League Spartan";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/spartan/LeagueSpartan-Bold.ttf") format("truetype");
  }

  * {
    @apply dark:!border-gray-800;
  }

  body {
    font-family: "League Spartan", "serif";
    min-height: 100vh;
    line-height: 14.72px;
    @apply dark:text-white;
  }

  input::-webkit-input-placeholder {
    line-height: normal !important;
  }

  select {
    box-shadow: none;
    line-height: 1;
  }

  .litepicker {
    --litepicker-is-end-color-bg: #f9b233;
  }
}

@layer utilities {
  .login-bg {
    background: url(/src/assets/images/login-low.webp) no-repeat center center
      fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .login-bg.bg-loaded {
    background: url("/src/assets/images/login-bg.webp") fixed;
    background-size: cover;
  }

  .h1 {
    font-size: 1.5rem;
  }

  .select::after,
  .datePicker::after {
    display: block;
    position: absolute;
    height: fit-content;
    top: 2px;
    bottom: 0;
    pointer-events: none;
    right: 10px;
    margin: auto;
    content: url(/src/assets/images/arrow-down.svg);
  }
  .select:has(select:focus)::after,
  .datePicker:has(input:focus):after {
    transform: rotate(180deg);
    top: -3px;
  }

  select,
  .select {
    @apply h-10;
  }

  .dashed {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='15' ry='15' stroke='%23F9B233FF' stroke-width='3' stroke-dasharray='5%2c 7%2c 5%2c 7' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 15px;
  }

  .table {
    width: 100%;
  }

  .table th {
    @apply theme-neutral font-normal;
  }

  .table tbody tr:not(:last-child) {
    @apply border-b border-b-gray-100 dark:border-b-gray-800;
  }

  .thead-round-child th:first-child {
    @apply rounded-tl-4xl;
  }
  .thead-round-child th:last-child {
    @apply rounded-tr-4xl;
  }
  .thead-border-child *:not(:last-child, .except) div {
    @apply border-r border-r-gray-100 dark:border-r-gray-800 h-[47px] flex  items-center;
  }

  .tbody-horizontal-border-child td:not(:last-child) {
    @apply border-r border-r-gray-100 dark:border-r-gray-800;
  }
  .radio {
    @apply after:transition-all content-none after:-translate-x-1/2 after:-translate-y-1/2 after:opacity-0 after:top-[50%] after:left-[50%]  after:size-[14px] after:rounded-[50%] after:border-4 after:border-orange-500 size-4 rounded-[50%] border relative inline-block after:absolute mr-2;
  }

  .radio-hidden:checked + .radio::after {
    @apply opacity-100;
  }
  .radio-hidden:checked + .radio {
    @apply border-0;
  }

  .hide-scroll::-webkit-scrollbar {
    display: none;
  }
  .hide-scroll {
    scrollbar-width: none;
  }

  .remark-scroll::-webkit-scrollbar-thumb {
    @apply !bg-orange-500 rounded-full;
  }
  .remark-scroll::-webkit-scrollbar-track {
    @apply !bg-white rounded-full;
  }
  .remark-scroll::-webkit-scrollbar {
    width: 12px;
  }

  .remark-scroll--contrast::-webkit-scrollbar-track {
    @apply !bg-gray-50;
  }

  .modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 555;
    @apply theme-secondary;
  }
  .modal.open {
    display: block;
  }
  .backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  .backdrop.open {
    display: block;
  }

  .active::after {
    display: block !important;
  }
  .active-segment {
    @apply bg-orange-500/10 py-[18px] !mt-[22px] after:content-[''] after:-right-[5px] after:rounded-[15px] overflow-hidden after:top-0 after:bottom-0 after:m-auto after:w-[10px] after:h-[32px] after:bg-orange-500 after:absolute relative;
  }

  .active-segment + li {
    @apply !mt-[22px];
  }

  .theme-primary {
    @apply bg-gray-50 dark:bg-gray-950;
  }

  .theme-secondary {
    @apply bg-white dark:bg-gray-900;
  }

  .theme-neutral {
    @apply bg-[#FBFBFB] dark:bg-gray-950;
  }
  .theme-svg-primary {
    @apply fill-black dark:fill-white;
  }

  option:not(:disabled) {
    @apply dark:!text-white;
  }

  .hotel-state:has(#deactive:checked) {
    @apply bg-red-500/15 border-red-500;
  }
  .hotel-state:has(#deactive:checked) #hotel-describe {
    @apply text-red-500;
  }
  .hotel-state:has(#deactive:checked) #is-active {
    @apply hidden;
  }
  .hotel-state:has(#deactive:checked) #is-deactive {
    @apply !inline;
  }

  .switch:has(input:checked) {
    @apply bg-orange-500/[32%];
  }

  .may-disabled:has(input:disabled) {
    @apply opacity-50;
  }
  .may-disabled:has(select:disabled) {
    @apply opacity-50;
  }

  .popover-content::after {
    content: "";
    position: absolute;
    width: 0;
    transform: translateY(50%);
    height: 0;
    left: 0;
    right: 0;
    margin-inline: auto;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid currentColor;
  }
  .resize-container {
    display: inline-block;
    position: relative;
}


.resize-text {

    display: inline-block;
    visibility: hidden;
    
}
    
.resize-input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
  /*leaflet*/

  .leaflet-top {
    display: none !important;
  }
}
